<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Virtual</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="cuerpo">

        <div class="cabecera">
            <div class="brand">
                <h1>CM</h1>
            </div>
            <div class="navbar">
                <div class="toolbar">
                    <p>toolbar</p>
                </div>
                <div class="user_icon">
                    user
                </div>
            </div>
        </div>
    
        <div class="formulario">
            <h1>Campus Virtual +</h1>
            <div>
                <h2>Crecer Mas</h2>
                <div id="login">
                    <div id="correo">
                        <p>Correo: </p>
                        <input type="text" name="correo" id="correo_input">
                    </div>
                    <div id="contrasena">
                        <p>Contraseña: </p>
                        <input type="password" name="contrasena" id="contrasena_input">
                    </div>
                    <div>
                        <button>Iniciar Sesión</button>
                        <button>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="footer">
           <div></div>
           <div></div>
           <div></div>
        </div>

    </div>


    
</body>
</html>