<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    
    <div class="cuerpo">
    
        <div class="cabecera">
            <div class="brand">
                <a href="index.html">
                    <h1>CM</h1>
                </a>
            </div>
            <div class="navbar">
                <div class="toolbar">
                    <p>toolbar</p>
                </div>
                <div class="user_icon">
                    user
                </div>
            </div>
        </div>
    
        <div class="board">
            <div class="side_bar">
                <div class="side_menu">
                    <a href="">Inicio</a>
                    <a href="">Cursos</a>
                    <a href="">Calendario</a>
                    <a href="">Herramientas</a>
                </div>
            </div>
            <div class="focus">
    
            </div>
            <div class="info">
    
            </div>
        </div>
    
        <div class="footer">
            <div></div>
            <div></div>
            <div></div>
        </div>
    
    </div>

</body>
</html>