html, body {
    padding: 0;
    font-family: Arial, sans-serif;
}

.cabecera {
    width: 100%;
    background-color: #1976d2;
    display: flex;
    flex-wrap: nowrap;
}

.brand {
    padding: 0 10px;
    width: 10%;
    text-align: center;
}

.brand a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 0 5px;
}

.toolbar {
    background-color: lightgray;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

.user_icon {
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    margin: 5px;
}

/* ################################################################# */


.cuerpo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.formulario {
    width: 30%;
    padding: 10px;
    border: solid black 5px;
    border-radius: 10px;
    text-align: center;
    margin: 5%;
    font-size: 1.5rem;
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#correo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    padding: 5px;
    width: 50%;
}

#correo_input{
    width: 90%;
}

#contrasena{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    padding: 5px;
    width: 50%;
}

#contrasena_input{
    width: 90%;
}


/* ################################################################# */

.footer {
    width: 100%;
    background-color: #1976d2;
    text-align: center;
    padding: 10px 0;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}