.board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.side_bar {
    display: flex;
    background-color: #c9c9c9;
    width: 10%;
    height: 100vh;
    justify-content: center;
}

.side_menu {
    text-align: center;
    background-color: #b3b3b3;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    padding: 10px;
    height: fit-content;
}

.side_menu a {
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.focus {
    flex: 2;
    background-color: #ffffff;
    width: 70%;
    height: 100vh;
}

.info {
    background-color: #c9c9c9;
    width: 20%;
    height: 100vh;
}